* {
	box-sizing: border-box;
}

body{
    font: bold 18px Arial;
    background-color: #cb5cf7;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;    /* unidade de medida da altura*/
    margin: auto;
}

p{
    font: normal 14px Arial;
}

a{
    color: #8e44ad;
    text-decoration: none;
    font-weight: bold;
}

.container{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 4px 4px;
    width: 500px;
    max-width: 100%;
    overflow: hidden;
}

.header{
    background-color: #f7f7f7;
    padding: 20px 40px;
    border-bottom: 1px solid #f0f0f0;
}

.header h2 {
	margin: 0;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.sucess input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control i{
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control.sucess i.fas fa-check-circle{
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fas fa-exclamation-circle{
    color: #e74c3c;
    visibility: visible;
}

.form-control.error small{
    visibility: visible;
    
}

.form-control small{
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

/* BOTÃO */
.form button{
    background-color: #8e44ad;
    border: 2px solid #8e44ad;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}
